body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

h1 {
    color: #0A84FF; /* Flutter Blue */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    padding: 10%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 70%; /* Adjust width to 70% */
    max-width: 600px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.container select,
.container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

.container select {
    background-color: #f1f1f1;
}

.container input[type="text"],
.container input[type="number"] {
    background-color: #fff;
}

.container select:focus,
.container input:focus {
    border-color: #0A84FF; /* Flutter Blue */
    outline: none;
}

button {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #0A84FF; /* Flutter Blue */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #085098; /* Darker blue for hover effect */
}

.input-fields {
    display: none;
}

.input-fields label {
    font-size: 16px;
    margin-bottom: 8px;
}

.input-fields input,
.input-fields select {
    margin-bottom: 20px;
}

.container select {
    font-weight: bold;
}
